.social-cards {
  border: 3px solid red;
}

.card-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 20rem;
}

.postCreate {
  font-size: 12px;
}

.commentText {
  font-size: 12px;
  border: none;
  padding: 1px;
}
.socialPost {
  border: 3px solid red;
}

.posts-container {
  border: 3px solid blue;
  display: flex;
  justify-content: center;
}

/* --- MEDIA QUERIES --- */
@media (min-width: 750px) {
  .socialPost .name {
    font-size: 70px;
  }

  .social-cards {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
  }

  .post-image {
    width: 100%;
    height: 100%;
  }
}
